html{
    font-family: Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop-container{
    box-sizing: border-box;
    padding: 10px;
    height: 95vh;
    width: 95vw;
    /* background-image: url('./assets/ShopLayout.png'); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
    grid-template-rows: repeat(10, 1fr); /* 10 equal rows */
    grid-auto-rows: min-content; /* Prevent rows from stretching */
    grid-auto-columns: min-content; /* Prevent columns from stretching */
    /* align-items: center; Center items vertically */
    /* justify-items: center; Center items horizontally */

}
.radarCircle{
    height: 50px;
    width: 50px;   
    font-weight: 800;
    border: #a38181 1px solid;
    color: white;
    background-color: #444;
    border-radius: 50%;
    align-self: center; 
    justify-self: center;
    box-sizing: border-box;
}

#R1{
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}
#R2{
    grid-column: 12 / span 1;
    grid-row: -2 / span 1;
}
#R3{
    grid-column: 1 / span 1;
    grid-row: 10 / span 1;
}
#RA{
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}
#RB{
    grid-column: 12 / span 1;
    grid-row: -2 / span 1;
}
#RC{
    grid-column: 1 / span 1;
    grid-row: 10 / span 1;
}

.shop-section{
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    background-color: #ddd; /* Background color for visibility */
    border: 1px solid #aaa; /* Border for visibility */
    border-radius: 5px; /* Optional: rounded corners */
    width: 100%; /* Ensure it stretches to fill the grid cell */
    height: 100%; /* Ensure it stretches to fill the grid cell */
    text-align: center;
    /* font-size: 1.2rem; */
    /* font-weight: bold; */
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
